<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Primeiro Contato com VueJs</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
	
	<header class="mb-5">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Features</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#">Disabled</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>


	<div id="app" class="container">
		<h1 v-show="status">{{titulo}}</h1>
		<button :class="btnClassLimpar" :style="btnStyleLimpar">Limpar</button>
		<button :class="btnClassEnviar" :style="btnStyleEnviar">Enviar</button>
		<button v-bind:class="btnClassAtualizar" v-bind:style="btnStyleAtualizar">Atualizar</button>
		<button v-bind:class="btnClassBuscar" v-bind:style="btnStyleBuscar">Buscar?</button>
	</div>


	<div id="app2" class="container pt-5">
		<h1> {{titulo}}</h1>

		<form action="http://google.com">
			<button type="submit" class="btn btn-primary" v-on:click.prevent.stop="enviar()">Limpar</button>
		</form>
	</div>


	<div id="app-4" class="container pt-5">
		<h1>{{titulo}}</h1>
		<ul>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ul>
		<button class="btn btn-primary"  v-on:click="adicionarFinal()">
			adicionar Final
		</button>

		<button class="btn btn-primary"  v-on:click="adicionarInicio()">
			adicionar Inicio
		</button>
	</div>


	<div id="app-5" class="container pt-5">
		<h1>{{ message }}</h1>
		<button v-on:click="reverseMessage">Reverse Message</button>
	</div>


	<div id="app-6" class="container pt-5">
		<p>{{ message }}</p>
		<input type="text" v-model="message">
	</div>



	<div id="app-7" class="container pt-5">
		<h2>{{titulo}}</h2>
		<p>{{text | truncate('15')}}</p>

	</div>





	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script>

		var app7 = new Vue({
			el:"#app-7",
			data:{
				titulo: "Usando o filter!",
				text: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas odio illo natus corrupti, commodi vitae totam ea voluptatem fugit! Magnam."
			},
			filters:{
				truncate(str, length){
					var output = str;
					if (output.length > length){
						output = str.substring(0,length) + ' ...';
					}
					return output;
				}
			}
		});
		//elemento pai el e uma variavel no campo data, isso é padrao do vuejs
		var app =  new Vue({
			el:"#app",
			data:{
				status:true,
				titulo: "Aula 01 - VueJs do jeito ninja!",
				btnClassLimpar: 'btn btn-danger btn-lg',
				btnClassEnviar: 'btn btn-primary',
				btnClassAtualizar: {
					'btn btn-dark' : true,
					'btn-sm': false
				},
				btnClassBuscar: [
				'btn','btn-warning', {'btn-lg' : true}
				],
				btnStyleBuscar: 'font-size: 22px; color:green;',
				btnStyleAtualizar: 'font-size: 25px',
				btnStyleEnviar: 'font-size: 25px',
				btnStyleLimpar: 'font-size: 20px'
			}
		});

		var app2 =  new Vue({
			el:"#app2",
			data:{
				titulo: "Testando os metodos do VueJs"
			},
			methods: {
				enviar(){
					alert("Metodo dentro do objeto Vue!");
				}
			}
		});

		var app4 = new Vue({
			el: '#app-4',
			data: {
				titulo: "Lista de afazeres usando o Vue",
				todos: [
				{ text: 'Learn JavaScript' },
				{ text: 'Learn Vue' },
				{ text: 'Build something awesome' }
				],
				adicionarFinal(){
					this.todos.push({ text: 'Learn JavaScript' });
				},
				adicionarInicio(){
					this.todos.unshift({ text: 'Learn JavaScript' });
				}
			}
		});

		var app5 = new Vue({
			el: '#app-5',
			data: {
				message: 'Meu nome é Fabricio Ziliotti'
			},
			methods: {
				reverseMessage: function () {
					this.message = this.message.split('').reverse().join('')
				}
			}
		});

		var app6 = new Vue({
			el: '#app-6',
			data: {
				message: 'Exemplo de Reatividade do VueJs'
			}
		});
	</script>

</body>
</html>